<div class="container">
    <h1 class="h1">Why choose MyGate?</h1>
    <h3 class="h3"><b>For the very same reasons the other million-plus homes around <br>India have chosen us</b></h3>
    <ul class="breadcrumb">
        <li><a href="#">Ease-Of-Use</a></li>
        <li><a href="#">Low Investment</a></li>
        <li><a href="#">Quick Set-Up</a></li>
        <li><a href="#">24*7 Support</a></li>
        <li><a href="#">Innovative Culture</a></li>
        <li><a href="#">User Privacy With GDPR</a></li>

    </ul>
</div>