<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="assets/images/m.png" width="30" height="30">
        <a class="navbar-brand" href="#">Mygate</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav"> 
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Data Privacy & Protection
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Data Protection With GDPR</a>
                <a class="dropdown-item" href="#">Privacy Policy</a>
                <a class="dropdown-item" href="#">Data Privacy FAQ's</a>
              </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Products
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Security Management</a>
                  <a class="dropdown-item" href="#">Community Management</a>
                  <a class="dropdown-item" href="#">Comperhensive Covid Management For Communities</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Features
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Visitor Management</a>
                  <a class="dropdown-item" href="#">Communication Management</a>
                  <a class="dropdown-item" href="#">Daily Staff Managerment</a>
                  <a class="dropdown-item" href="#">Child Security</a>
                  <a class="dropdown-item" href="#">Help Desk</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Company
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">About Us</a>
                  <a class="dropdown-item" href="#">Testimonials</a>
                  <a class="dropdown-item" href="#">Carrers</a>
                  <a class="dropdown-item" href="#">Refer A Society</a>
                  <a class="dropdown-item" href="#">News</a>
                  <a class="dropdown-item" href="#">Blog</a>
                  <a class="dropdown-item" href="#">FAQ's</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
               
              </li>
              <li class="nav-item">
                <img src="assets/images/smartphone.png" width="30" height="30">8106523254
               
              </li>
          </ul>
        </div>
      </nav>
</div>


