<div class="container">
  <div class="row">
    <div class="column-66">
      <h1 class="xlarge-font"><b>15,000+ housing societies<br> now use MyGate<br> to manage their Staff. </b></h1>
      <!-- <h1 class="large-font" style="color:MediumSeaGreen;"><b>Why buy it?<b></h1> -->
      <p><span style="font-size: 20px;">everyday living for your housing society with <br>the most advanced security and
          <br>community management app.</span></p>
      <button class="button btn1">Schedule A Demo</button><br><br>
      <button class="button btn">Get Details On Whatsapp</button>
    </div>
    <div class="column-33 ">
      <img class=img src="assets/images/housing.gif">
    </div>
  </div>
</div>