<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="h1">Best Community Management Solution</h1><br><br>
            <iframe width="100%" height="300" src="https://www.youtube.com/embed/Ruyl0MdehOo" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
                </div>
                <div class="col-md-3"></div>
                </div>
        </div>